* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e033ff;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#cancion {
    margin-top: 20px;
    font-size: 18px;
    color: #0e0335;
}
